# Python
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__
*.db

# Virtual environment
venv/
env/

# VSCode
.vscode/
*.code-workspace

# Editor-specific files
*~
# Database
*.sqlite3
*.db
*.sql
# File
*.csv
*.zip
