{% extends "base.html" %}

{% block title %}Home page{% endblock %}

{% block content %}
<h2>Scrawl Website</h2>
<div style="margin-left: 50px;">
    <form action="#" method="post">
        <label for="search">Urls:</label>
        <input type="search" name="search" id="search" style = "width: 500px;"></input>
        <button style="background-color: slateblue;color: white;" type="submit">Submit</button>
    </form>
</div>
<h2>List Urls</h2>
<div style="margin-left: 50px;">
    <a href="https://tcnhikhoa.vn/index.php/tcnk/issue/archive">https://tcnhikhoa.vn/index.php/tcnk/issue/archive</a><br>
    <a href="https://jbdmp.vn/index.php/yhthvb/issue/archive">https://jbdmp.vn/index.php/yhthvb/issue/archive</a><br>
    <a href="https://tapchidinhduongthucpham.org.vn/index.php/jfns/issue/archive">https://tapchidinhduongthucpham.org.vn/index.php/jfns/issue/archive</a><br>
    <a href="https://tapchinghiencuuyhoc.vn/index.php/tcncyh/issue/archive">https://tapchinghiencuuyhoc.vn/index.php/tcncyh/issue/archive</a><br>
    <a href="https://tapchitaimuihong.vn/index.php/tmh/issue/archive">https://tapchitaimuihong.vn/index.php/tmh/issue/archive</a><br>
</div>
{% if tcnk_zip_url %}
<div id = "tcnk-download">
    <h3>Download TCNK Data:</h3>
    <a href="{{tcnk_zip_url}}" download>Download TCNK.zip</a>
</div>
{% endif %}
{% if tmh_zip_url %}
<div id = "tmh-download">
    <h3>Download TMH Data:</h3>
    <a href="{{tmh_zip_url}}" download>Download TMH.zip</a>
</div>
{% endif %}
{% if yhthvb_zip_url %}
<div id = "yhthvb-download">
    <h3>Download YHTHVB Data:</h3>
    <a href="{{ yhthvb_zip_url }}" download>Download YHTHVB.zip</a>
</div>
{% endif %}

{% if ddvtp_zip_url %}
<div id = ddvtp-download>
    <h3>Download DDVTP Data:</h3>
    <a href="{{ ddvtp_zip_url }}" download>Download DDVTP.zip</a>
</div>
{% endif %}

{% if yhn_zip_url %}
<div id = yhn-download>
    <h3>Download YHN Data:</h3>
    <a href="{{ yhn_zip_url }}" download>Download YHN.zip</a>
</div>

{% endif %}
{% endblock %}
